main{
    background-color:white;
}
.login_box{
    display:flex;
}
.login_pictures{
    margin-left:30px;
    margin-top:10px
}
.login_pictures img{
    width:800px;

}
.login_form{
    margin:50px 200px 150px 400px;
    padding:10px;
}
.login_form_title {
    font:30px "KaiTi";
    text-align:center;
}
.login_bot input{
    background-color:#0C4B33;
    color:white;
    margin-left:65px;
}