main{
    background-color:white;
}
.login{
    display:flex;
}
.login_box{
    display:flex;
    flex-direction:column;
}
.login_pictures{
    margin:10px
}
.login_pictures img{
    width:800px;
}
.login_box{
    padding:10px;
    width:1000px
}
.login_box_title {
    font:30px "KaiTi";
    text-align:center;
}
.login_box_form{
    text-align:center;
}
.login_box_form label{
    margin:10px
}
.login_bot input{
    padding:0px 30px 0 30px;
}
label{
    display:block;
    font-size:20px;
}
.register{
    text-align:center;
}