<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>增加书籍</title>
</head>
<body>
<form action="/index/add_book/" method="post">
    {% csrf_token %}
    <p id="add_title">
        title:<input type="text" name="title">
    </p>
    <p id="add_price">
        price:<input type="text" name="price">
    </p>
    <p id="retail_price">
        retail_price:<input type="text" name="retail_price">
    </p>
    <p id="public">
        public:<input type="text" name="public">
    </p>
    <p id="submit">
        <input type="submit" value="提交">

    </p>
</form>
<a href="{% url 'index:book_table' %}"> 返回书籍列表</a>
</body>
</html>