<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/index/login/" method="post">
    {% csrf_token %}
    <p>
        <label>
            用户名：
            <input type="text" name="username" value="{{ username }}">
        </label>
        <span>{{ error }}</span>
    </p>
    <p id="pwd">
        <label>
            密码：
            <input type="text" name="password" value="{{ password }}">
        </label>
    </p>
    <p>
        <label>
            记住用户名:
            <input type="checkbox" name="isSaved">
        </label>
    </p>
    <p>
        <input type="submit" value="登录">
    </p>
</form>
</body>
</html>