{% extends 'index/base.html' %}
<html lang="en">
<head>
    {% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/base_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/login_style.css' %}">
    <link rel="icon" href="{% static 'index/images/学校.ico' %}">
    {% endblock style %}
    <meta charset="UTF-8">
    {% block title %}
    <title>Login</title>
    {% endblock title %}
</head>

<body>
{% block nav %}
{% endblock nav %}

{% block main %}
<main>
    <div class="login">
        <div class="login_pictures">
            <img src="{% static 'index/images/login.jpg' %}">
        </div>
        <div class="login_box">
            <div class="login_box_title">
                <p>穷究于理</p>
                <p>成就于工</p>
            </div>
            <div class="login_box_form">
                <form action="/index/login/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <p>{{ error }}</p>
                    <p class="login_bot">
                        <input type="submit" value="登录">
                    </p>
                </form>
            </div>
            <p class="register">
                没有账号？点击<a href="{% url 'index:register' %}">注册</a>
            </p>
        </div>
    </div>
</main>
{% endblock main %}
</body>
</html>