{% extends 'index/base.html' %}
<html lang="en">
<head>
    {% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/register_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/base_style.css' %}">
    <link rel="icon" href="{% static 'index/images/学校.ico' %}">
    {% endblock style %}
    <meta charset="UTF-8">
    {% block title %}
    <title>注册</title>
    {% endblock title %}
</head>
<body>
{% block nav %}
{% endblock nav %}
{% block main %}
<div class="register">
    <div class="register_image">
        <img src="{% static 'index/images/学校8.jpg' %}">
    </div>
    <form method="post" class="register_box">
        {% csrf_token %}
        {{ form }}
        {{ password_again_error }}
        {{ username_error }}
        <input type="submit" value="注册">
    </form>
</div>
{% endblock main %}
</body>
</html>