<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="/index/register/" method="post">
    {% csrf_token %}
    <p>
        用户名<input type="text" name="username" value="{{  username }}">
        <span>{{ username_error }}</span>
    </p>
    <p>
        密码<input type="password" name="password" value="{{ password }}">
        <span>{{ password_error }}</span>
    </p>
    <p>
        再次输入密码<input type="password" name="password_again" value="{{ password_again }}">
        <span>{{ password_again_error }}</span>
    </p>
    <input type="submit" value="注册">
</form>
</body>
</html>